*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
    text-decoration: none;
}

body{
    background-color: antiquewhite;
    
}

html{
    font-size: 62.5%;
}

/* Navbar section*/

header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 6px;
    background-color: antiquewhite;
    box-shadow: 0 0.05rem 1.5rem rgba(182, 123, 123, 0.5);
}
header .logo{
    padding-left: 40px;

}
header .navbar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .navbar a{
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0 0.5rem;
    color: rgb(28, 27, 114);
    padding: 1rem 1rem;
    border-radius: 5px;
}
header .navbar a:hover, .active{
    background-color: rgb(247, 222, 180);
    transition: 0.6s;
}


/*Media query for navbar*/

@media (max-width : 990px) {
    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2rem;
    }
}

@media (max-width : 768px){
    header .navbar{
        position: fixed;
        flex-direction: column;
        max-width: 300px;
        height: 100vh;
        background-color: rgb(247, 222, 180);
        top:0;
        right: 0;
        align-items: center;
        justify-content: start;
        padding-top: 10rem;
    }
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 2rem;
    background: rgb(14, 4, 39);
    color: #fff;
    padding: 0.7rem 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    padding-right: 20px;
    margin-left: 4rem;
    align-items: center;
}

.btn:hover{
    background: rgb(243, 142, 9); 
}
#btn1{
    float: right;
    padding-left: 20px;
}

/* hero-section starts here */

.hero-section{
    padding: 110px 30px;
    width: 100%;
    height: calc(100vh-120px);
    background-size: cover;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.hero-section .content{
    padding-left: 40px;
}
.hero-section p{
    padding-left: 20px;
    font-size: 1.8rem;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-top: 5rem;
    text-align: start ;
    color: rgb(14, 4, 39);
    font: weight 300; 
    display: block;
    float: inline-start;
    line-height: 25px;
}
h2{
    color: rgb(214, 127, 13);
    font-weight: 900;
}

.heading {
    text-align: start;
    font-size: 9rem;
    color:rgb(214, 127, 13); 
    padding-left: 35px;
    margin: 5rem 2rem;
    font: weight 1000px;
    font-family: serif;
    margin-left: 2rem;
}
.heading span {
    color: rgb(14, 4, 39);
    font-weight: 1000px;
    font-family:serif;
}

.image{
    display: flex;
    margin: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
    overflow: flip;
    padding-left: 50px;
}

.image p{
    display: inline-block; 
    padding: 0 20px 20px 0;
    line-height: 2px;
}

/*hero2 section starts here*/

.hero2-section{
    padding: 110px 30px;
    margin-top: 5rem;
    font-size: 35px;
    font: weight 300; 
    line-height: 24px;
    padding-bottom: 300px;
}

.min-container{
    display: flex;
    padding: 30px;
}
.checkout h2{
    font-size: 2.5rem;
    padding-bottom: 30px;
    padding-left: 40px;
    }
    
.checkout p{
    font-size: 1.6rem;
     padding-bottom: 20px;
     padding-left: 40px;
     line-height: 25px;
}
.profile-box{
    padding: 2rem;
    margin: 2rem 0;
    width: 300px;
    height: 500px;
    background: rgb(214, 127, 13);
    border-radius: 4px;
    margin-bottom: 30px;
    box-shadow: 0 10x 10px 10px rgb(145, 89, 15);;
    position: relative;
    transition: background 0.5s;
    
}
.profile-box h2{
    margin-top: 25px;
    margin-bottom: 5px;
    color: rgb(214, 127, 13);
}
.profile-box img h3{
    display: flex;
}

.profile-box p{
    text-align: center;
    line-height: 24px;
   
}
.team-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    padding-left: 120px;
}
.team-row .profile-box h2{
    color:  rgb(14, 4, 39);
}
.team-row .profile-box img{
    display: flex;
    padding: 5px;
}

.profile-box:hover{
    background: rgb(160, 92, 3);
}
.profile-box:hover h4{
    color: #fff;
}
.profile-box:hover p{
    color: #fff;
}

.payments{
    padding-right: 60px;
    justify-content: space-around;
}
.payments h2{
    font-size: 2.5rem;
    padding-bottom: 30px;
    padding-left: 30px;
}
.payments p{
    font-size: 1.6rem;
    padding-bottom: 20px;
    padding-left: 30px;
    line-height: 25px;
}
.payments a{
    padding-bottom: 30px;
    padding-left: 30px;
    font-size: 1.5rem;
    font-weight: 200;
    font-family: cursive;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: rgb(214, 127, 13);
}
.payments a:hover{
    color: rgb(160, 92, 3);
}
.outpays{
    padding-top: 70px;
}






/* section 3 containing hero3-section */
.team-row-2 img{
    float: right;
    padding-bottom: 100px;
    width: 100%;
    height: 700px;
    margin-left: 200px;
    padding-left: 80px;

}

.checkout2 h2{
    font-size: 2.5rem;
    padding-bottom: 30px;
    align-items: center;
    margin-left: 20rem;
    margin-top: 15rem;
    }
    
.checkout2 p{
    font-size: 1.6rem;
     padding-bottom: 40px;
     padding-left: 6rem;
     flex-direction: row;
     line-height: 25px;
     margin-left: 14rem;
    
}




/*section 4 starts here*/
.content{
    display: flex;

}
.content .content2{
    margin-top: 70px;
}


/*section 5 starts here*/
.virtual-cards{
    background-color: rgb(230, 159, 66);
}
.min-virtuals{
    align-content: center;
}
.gallery {
    height: 600px;
    width: 100%;
    display: flex;
    margin: 5% auto 0;
    box-sizing: border-box;
    background-color: rgb(199, 166, 154);
    margin-bottom: 60px;

}

.image-box{
    margin: 0 1%;
    flex-grow: 1;
    flex-basis: 0;
    transition: .5s;
}
.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}
.image-box:hover{
    flex-basis: 50%;
}
.active{
    flex-basis: 50%;
}
.gallery:hover .active{
    flex-basis: 0;
}
.image-box:nth :nth-child(1):hover{
    flex-basis: 50%;

}
.title-box2{
    padding: 30px 20px;
}


.title-box2 p{
    margin-top: 10px;
    line-height: 24px;
    text-align: center;
    color: #e84393;
    font-size: medium;
}
.profile-box2{
    width: 240px;
    height: 240px;
    background: rgb(214, 127, 13);
    border-radius: 4px;
    margin-bottom: 30px;
    box-shadow: 0 10x 10px 10px rgba(115, 193, 255, 0.1);
    padding: 20px;
    position: relative;
    transition: background 0.5s;
}
.profile-box2 img{
    width: 100px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 4px;
    transition: .5s;

}
.profile-box2 h4{
    margin-top: 25px;
    margin-bottom: 5px;
    color: #e84393;
}

.profile-box2 p{
    text-align: center;
    line-height: 24px;
    color: var(--pink);
}
.team-row2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
}

.profile-box2 img:hover{
    width: 200px;
}
.profile-box2:hover{
    background: rgb(14, 4, 39);
}
.profile-box2:hover h4{
    color: #fff;
}
.profile-box2:hover p{
    color: #fff;
}
.profile-box2:hover small{
    color: #eee;
}
 


/*styling section 7*/

.profile-box3{
    width: 80%;
    height: 500px;
    background: rgb(214, 127, 13);
    border-radius: 50%;
    margin-bottom: 30px;
    box-shadow: 0 10x 10px 10px rgba(115, 193, 255, 0.1);
    padding-right: 20px;
    position: relative;
    transition: background 0.5s;
    margin-left: 150px;
   padding-bottom: 300px;
   margin-bottom: 200px;

}
.heading2{
    color: #000;
    font-size: 80px;
    margin-left: 200px;
    padding-top: 60px;
    font: weight 1000px;
    font-family: serif;
}

.profile-box3 p{
    padding-top: 60px;
    margin-left: 260px;
    font-size: 20px;
    line-height: 30px;
}

.profile-box3 .btn{
    margin-left: 450px;
    margin-top: 60px;

}

.profile-box3:hover{
    background: rgb(14, 4, 39);
}
.profile-box3:hover h1{
    color: #fff;
}
.profile-box3:hover p{
    color: #fff;
}

/*end of styling section 7*/








/*footer section*/

.container{
    max-width: 1170px;
    margin: auto;
}


.row{
    display: flex;
    flex-wrap: wrap;
}
  
.footer{
    background-color:rgb(214, 127, 13);
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4 ::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: blue;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #333;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #fff;
    padding-left: 10px;
}
.social-links{
    display: inline-flex;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    color: #fff;
    transition: all 0.5s ease;
    cursor: pointer;
    float: right;
} 
.social-links a:hover{
    color: #24262b;
    background-color: #fff;
}
.row-two{
    display: block;
    flex-wrap: wrap;
}

/*footer responsiveness*/
@media (max-width : 767px) {
    .footer-col{
        width:50%;
        margin-bottom: 30px;
    }
}
@media (max-width : 574px) {
    .footer-col{
        width:100%;
    }
}





/*display: inline-block;
    margin-top: 1rem;
    border-radius: 2rem;
    background: rgb(14, 4, 39);
    color: #fff;
    padding: 0.7rem 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    padding-right: 20px;
    margin-left: 4rem;
    align-items: center;*/
