*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    text-decoration: none;
}

body{
    height: 100vh;
    overflow: hidden;
    background-color: antiquewhite;;
}
html{
    font-size: 62.5%;
}

/* Navbar section*/

header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 6px;
    background-color: antiquewhite;
    box-shadow: 0 0.05rem 1.5rem rgba(182, 123, 123, 0.5);
}
header .logo{
    padding-left: 40px;

}
header .navbar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .navbar a{
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0 0.5rem;
    color: rgb(28, 27, 114);
    padding: 1rem 1rem;
    border-radius: 5px;
}
header .navbar a:hover, .active{
    background-color: rgb(247, 222, 180);
    transition: 0.6s;
}
header .btn-btn{
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    color:  rgb(28, 27, 114);
    border-radius: 30px;
    padding: 7px 10px;
}
header .btn:hover{
    background-color: rgb(247, 222, 180);
}

/*Media query for navbar*/

@media (max-width : 990px) {
    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2rem;
    }
}

@media (max-width : 768px){
    header .navbar{
        position: fixed;
        flex-direction: column;
        max-width: 300px;
        height: 100vh;
        background-color: rgb(247, 222, 180);
        top:0;
        right: 0;
        align-items: center;
        justify-content: start;
        padding-top: 10rem;
    }
}

.hero-section{
    padding: 80px 40px;
    width: 100%;
    height: calc(100vh-120px);
    background-size: cover;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.hero-section .content{
    padding-left: 40px;
}
.hero-section p{
    padding-left: 70px;
    font-size: 1.5rem;
    justify-content: space-between;
}

.heading {
    text-align: start;
    font-size: 9rem;
    color:rgb(214, 127, 13); 
    padding-left: 2rem;
    margin: 5rem 2rem;
    font: weight 200px;
    font-family:sans-serif;
    margin-left: 2rem;
}
.heading span {
    color: rgb(55, 54, 99);
    font-weight: 200px;
    font-family:serif;
}

.hero-section.content p {
    margin-top: 5rem;
    text-align: start ;
    color: #fff;
    text-transform: capitalize;
    font-size: 35px;
    font: weight 300; 
    display: block;
    float: inline-start;
}
.hero-section .btn{
    padding-left: 2rem;
    align-content: center;
}


